@import url("https://cdn.syncfusion.com/ej2/bootstrap5.css");

.App {
  margin: 2%;

  height: calc(100% - 58px);
}

.primary-btn {
  color: #fff;
  background-color: #6203fc;
  height: 3rem;
  width: 6rem;
  border: none;
  font-size: 1rem;
  border-radius: 1rem;
}

.primary-btn:hover {
  cursor: pointer;
  background-color: #37038c;
}

.Secondary-btn {
  margin-right: 2rem;
  color: #fff;
  background-color: #026df7;
  height: 3rem;
  width: 6rem;
  border: none;
  border-radius: 1rem;
}

.Secondary-btn:hover {
  cursor: pointer;
  background-color: #024499;
}

.files {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filename {
  padding: 9px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.options {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.selected {
  margin-right: 2rem;
  color: #fff;
  background-color: #666666;
  height: 3rem;
  width: 6rem;
  border: none;
  border-radius: 1rem;
}

.file {
  font-size: large;
}

.validate-btn {
  color: rgba(0, 0, 0, 0.87);
  background-color: #90caf9;
  height: 3rem;
  width: 6rem;
  border: none;
  font-size: 1rem;
  border-radius: 1rem;
}
.validate-btn:hover{
  cursor: pointer;
  background-color: #42a5f5;
}